// background
$dark-bg: #01080E;
$main-bg: #011627;
$soft-bg: #011221;
// text
$main-text: #FFFFFF;
$soft-text: #607B96;
$accent-sub: #3C9D93;
$accent-text: #4D5BCE;
// line
$line-color: #1E2D3D;
$line-bottom: #FEA55F;


