@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.footer {
  width: 100%;
  display: flex;
  padding: 5px;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  color: $soft-text;
  border-top: 1px solid $line-color;
  height: 24px;

  .socialInfo {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .userInfo {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-left: 2px solid $line-color;
    padding-left: 10px;

    img {
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
  }
}